body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-image: url("../assets/images/cisneLogo.png"); */
  }
  .container video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }

.bloco_foto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadastro{
    color: wheat;
    margin-bottom: 0;
}
h1 {
    margin-top: 0;
}
.jae{
color: #ffcbd7;
padding: 2px;
text-align: center;
}
.bloco_cadastro {
    background-color: #51423dbe;
    width: 25%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.botao{
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 60%;
    cursor: pointer;
}
.botao:active{
    background-color: rgb(37, 37, 47);
    color: white;
    transform: scale(1.1); 
    transition: 0.3s ease; 
}
.botaoCadastro{
    height: 25px;
    width: 60%;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: wheat;
    cursor: pointer;
}
.botaoCadastro:active {
    background-color:wheat;
    color: black;
    transform: scale(1.1); 
    transition: 0.3s ease; 
  }
.inputs{
      background-color: wheat;
    color: black;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 60%;
    cursor: pointer;
}
.inputs::placeholder{
    padding-left: 8px;
    color: gray;
}
a{
    color: #ffcbd7;
}
.mensagemEmail{
    font-size: 13px;
    justify-content: flex-start;
    color: red;
}
.mensagemSenha {
font-size: 13px;
color: red;
text-align: center;
}
.mensagemRedigite{
    color: red;
    font-size: 13px;
}