body, html{
padding: 0;
margin: 0;
/* width: 100vw;
height: 100vh; */
background-color:#f1efe9;
overflow-x: hidden;
}
*{
margin: 0;
padding: 0;
}

.fundo{
width: 100%;
height: 100vh;
background-color: #b9a1ac;
display: flex;
flex-direction: column;
}
.fundo2{
    margin-top: 10vh;
width: 100%;
height: 100vh;
background-color: #f1efe9;
display: flex;
flex-direction: column;
}
p{
    font-size: 35px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topofundo{
    width: 100%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    color: #f1efe9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.corpofundo{
    width: 100%;
    height: 90%;
    background-color: #f1efe9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
}
.caixacaixas{
width: 85%;
height: 100%;
background-color: #f1efe9;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.caixaesq{
    width: 45%;
    height: 100%;
    background-color: #f1efe9;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.caixaesq.texto {
    background-color: #f1efe9;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    
}
.caixaesq.texto p{
    margin-top: 18px;
    margin-left: 18px;
    font-size: 25px;
}
.caixaesq.texto h1{
    margin-top: 18px;
    margin-left: 18px;
}
.maecaixa{
    width: 100%;
    height: 45%;
    background-color: #f1efe9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.caixaesq.txt{
    width: 100%;
    margin-left: 2vw;
    background-color: #f1efe9;
}

.maecaixa p{
    margin-top: 10vh;
}

.icones{
    color: #f1efe9;;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
}

 nav.menuLateral {
     width: 70px;
     height: 100%;
     background-color:#000000;
     padding: 40px 0 40px 1%;
     box-shadow: 3px 0 0 #ba9292;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     transition: .5s;

 }
 nav.menuLateral.expandir{
width: 300px;
 }
.botExpandir{
   width: 100%;
   padding: 10%; 
}
.botExpandir > i{
color:#ffc0cb;
font-size: 24px;
cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
background-color: #f1efe9;

}
ul li.item-menu{
    transition: .3s;
}
ul li.ativo{
    background-color: #b9a1ac;
}

ul li.item-menu a{
    color: #f1efe9;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    
}
nav.menuLateral.expadir .txt-link{
margin-left: 70px;
transition: .5s;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
  ul li.item-menu:hover a {
    color: #000000;
}

ul li.item-menu:hover a .icon > i {
    color: #000000;
}
.imagem {
    display: flex;
    height: 40px;
    width: 40px;
    /* margin-top: 33px;
    margin-left: 5px;
    margin-right: 50px; */
}

.container {
    display: flex;
    justify-content: flex-start;
    /* padding-top: 100px; */
    align-items: center;
    min-height: 110vh;
    background: black;
    /* flex-direction: column; */
    min-height: auto;
}

.navLogo {
    display: flex;
}

.nav {
    /* position: fixed; */
    /* top: 0; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.6), transparent);
    z-index: 100;
}

.navLogo p {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 3px;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
}

