
* {
    font-family: 'Woof';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* display: flex;
    flex-direction: row; */
}

 nav.menuLateral {
     width: 70px;
     height: 100%;
     background-color:#ffffff;
     padding: 40px 0 40px 1%;
     box-shadow: 3px 0 0 #000000;
     color: #000000;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     transition: .5s;

 }
 nav.menuLateral.expandir{
width: 300px;
 }
.botExpandir{
   width: 100%;
   padding: 10%; 
}
.botExpandir > i{
color: rgb(0, 0, 0);
font-size: 24px;
cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
background-color: #000000;
color: #ffffff;

}
ul li.item-menu{
    transition: .3s;
}
ul li.ativo{
    background-color: #9e7979;
}

ul li.item-menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    
}
nav.menuLateral.expadir .txt-link{
margin-left: 70px;
transition: .5s;
}

ul li.item-menu:hover a {
    color: #ffffff;
}

ul li.item-menu:hover a .icon > i {
    color: #ffffff;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
.imagem {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 33px;
    margin-left: 5px;
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: flex-start;
    /* padding-top: 100px; */
    align-items: center;
    min-height: 110vh;
    background: black;
    /* flex-direction: column; */
    min-height: auto;
}

.navLogo {
    display: flex;
}

.nav {
    /* position: fixed; */
    /* top: 0; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.6), transparent);
    z-index: 100;
}

.navLogo p {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 3px;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
}

.botaoNav .botao {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

#botaoCadastro {
    margin-left: 15px;
}

.botao.log {
    background: rgba(0, 0, 0, 0.285);
    /* color: wheat; */
}

.botao:hover {
    background: rgba(255, 255, 255, 0.3);
}

.botao.log:hover {
    background: wheat;
    color: #000000;
}
.link:hover,
.ativo {
    border-bottom: 2px solid #FF0077;
}
.link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.link:hover {
    transform: scale(1.2);
    font-size: 18px;
    color: wheat !important;
}
.blocao{
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    /* flex-wrap: nowrap; */
     justify-content: center;
    align-items: center;
   
}
.topo{
width: 100vw;
height: 70vh;
background-color: #202020;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.topo h1{
    margin-left: 220px;
    color: #FF0077;
}
.textotopo{
    width: 72vw;
    height: 20vh;
    font-size: 25px;
   background-color: #202020;
    margin-left: 100px;
    text-align: justify;
    color: aliceblue;
}
.textotopo p{
    margin-top: 2px;
}
.titulocontador{
    text-align: center;
    width: 100%;
    height: 5vh;
    font-size: 25px;
     background-color: #7f1547;
margin-bottom: 40px;
}
.cont{
    margin-top: 40px;
    width: 25vw;
    height: 30vh;
    background-color: #111;
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}
.contador h3 {
    margin-top: 20px;
}
.sabianao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16vh;
  
    flex-direction: column;
    text-align: justify;
    background-color: yellow;
}
#contadorSabia h2{
    margin-bottom: 20px;
}

/* label{
    display: block;
} */

.blocoA{
    width: 100vw;
    height: 51vh;
 color: rgb(0, 0, 0);
background-color: red;
justify-content: center;
align-items: center;
 margin-right: 30vw;
}

.container-cartao{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;

}
.cartao{
    display: none;
    flex-direction: row;
    border-radius: 35px;
    overflow: hidden;
    margin: 20px;
    margin-left: 120px;
    height: 600px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
h1{
    margin-top: 10px;
}
.cartao.active{
    display: flex;
    transform: scale(1.05);
}
.cartao .esq{
    flex: 1;
    
    /* background-image: url(../assets/images/vandeime.jpg) center/cover no-repeat; */
}
.cartao .esq img{
    width: 100%;
    height: 100%;
}
.cartao .dir{
    flex: 1;
    font-size: 25px;
    background: #111;
    color: white;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
width: 100%;
}
.botoes{
size: 200px;
gap: 20px;
justify-content: center;
}
.botoes button{
    padding: 8px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    transition: transform 0.2s ease, background 0.3s;
}
.butSim:hover{
    color: #111;
}
.botSim:active{
background-color: green;

}
.botNao:active{
background-color: red;
}

.blocoA p{
    width: 70%;
    margin-top: 40px;
    /* padding-top:20px; */
    text-align: center;
    font-size: 26px;
}
.blocoB{
    background-color: rgb(215, 215, 215);
display: flex;
      width: 100vw;
    height: 550px;
}
.b1{
    width: 50%;
    background-color: #FF0077;
}
.b2{
    width: 50%;
    background-color: aqua;
}

.container_contador{  
 display: flex;
 width: 300px;
 text-align: center;
 justify-content: center;
 align-items: center;
 background-color: #ffffff;
 margin-left: 700px;
 height: 200px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
} 
.contador{
    justify-content: center;
    align-items: center;
    
}

.pagdois{
    font-family: 'Poppins';
    display: flex;
    width: 100vw;
    flex-direction: row;
    background-color: rgba(151, 69, 69, 0.723);
    min-height: 100vh;
}
