body, html {
  margin: 0;
  padding: 0;
  background-color: #f0f0e8;
  overflow: hidden;
  height: 100vh;
}

.fundo {
  display: flex;
  height: 100vh;
}

.esquerda {
  width: 250px;
  background-color: #f3efe7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oi {
  background-color: #ff5c5c;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.botaoQuiz {
  background-color: #f4a261;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 20px;
  background-color: #333;
}

.container_kpi {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.kpiUm, .kpiDois, .kpiTres {
  background-color: #ffffff;
  border-radius: 15px;
  width: 300px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.kpiUm h3, .kpiDois h3, .kpiTres h3 {
  font-size: 1.3rem;
}

.valor-kpi {
  font-size: 3rem;
  color: red;
}

.container_graficos {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.grafico_linha {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.graficoUm, .graficoDois, .graficoTres {
  background-color: #ffffff !important;
  padding: 20px;
  border-radius: 15px;
  width: 33%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: transparent !important;
}
