
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  box-sizing: borderrgb(0, 0, 0)
}


.fundo {
  display: flex;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
}

.esquerda {
  width: 200px;
  background-color: #fff;
  color: white;
  padding: 20px;
}

.oi {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 30px;
  margin-bottom: 40px;
  height: 40px;
  background-color: red;}

.botaoQuiz {
    float: inline-end;
  background-color: #f4a261;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.direita {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden; 
}


.container_kpi {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.kpiUm,.kpiDois,.kpiTres {
  background-color: white;
  flex: 1;
  height: 100px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(181, 11, 11, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
}
.titulokpium{
  width: 100%;
  height: 50px;
  background-color: #000000;
}
.container_graficos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grafico_linha {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.graficoUm, .graficoDois {
  flex: 1;
  max-width: 48%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.graficoTres {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 46%;
}


.graficoUm canvas,.graficoDois canvas {
  width: 100% !important;
  height: 230px !important;
}

.graficoTres canvas {
  width: 90% !important;
  height: 170px !important;
}


@media (max-width: 1024px) {
  .container_kpi {
    flex-direction: column;
  }

  .grafico_linha {
    flex-direction: column;
  }

  .graficoUm,
  .graficoDois,
  .graficoTres {
    max-width: 100%;
      transition: transform 0.3s ease; 
  }
.graficoUm:hover,
.graficoDois:hover,
.graficoTres:hover {
  transform: translateY(-10px);
}
  .graficoUm canvas,
  .graficoDois canvas {
    height: 200px !important;
  }

  .graficoTres canvas {
    height: 300px !important;
  }
}
canvas{
    min-width: 100% !important;
    min-height: 100%!important;
}