body, html {
    margin: 0;
    padding: 0;
}
.fundo{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #202020;
}
.esquerda{
height: 100%;
width: 13vw;
background-color: #414141b4;
flex-direction: column;
border-radius: 20px;
}
.direita{
    height: 100vh;
    width: 90vw;
    background-color: black;
    margin-left: 0vw;
  
}

.container_kpi{
    height: 25%;
    width: 100%;
    background-color: #414141;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.kpiUm {
    width: 25%;
    height: 80%;
    background-color: #202020;
        border-radius: 16px 0px;
}
.kpiDois{
      width: 25%;
    height: 80%;
    background-color: #ff0077;  
       border-radius: 16px 0px;
}
.kpiTres{
        width: 25%;
    height: 80%;
    background-color: #202020;  
       border-radius: 16px 0px;
}
.container_graficos{
    /* position: fixed; */
height: 75%;
width: 100%;
background-color: #414141b4;
display: flex;
flex-direction: row;
/* justify-content: center; */
/* align-items: center; */
/* margin-right: 20px; */
justify-content: space-evenly;
}
.graficoUm{
width: 30%;
height: 90%;
border-radius: 20px 0 0 0;
background-color: brown;
/* margin-left: 1vw; */
margin-top: 5vh;

}
.graficoDois{
 width:30%;
height: 90%;
border-radius: 20px 20px 0 0;
background-color: rgb(88, 35, 121);
/* margin-left: 2vw; */
/* margin-right: 4vw; */
margin-top: 5vh; 
}
.graficoTres{
    width: 30%;
    height: 90%;
    background-color: white;
    /* margin-right: 7vw; */
    margin-top: 5vh;
    border-radius: 0 20px 0px 0px;
}
.oi{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    color: #444;
    font-size: 28px;
    margin-top: 20px;
    margin-right: 4px;
    height: 70px;
    /* padding: 25px; */
    background-color: #FF0077;
    justify-content: space-evenly;
    border-radius: 12px;

}
.voltar{
    width: 100%;
    height: 5vh;
    background-color: antiquewhite;
    
}