
 body, html{
    padding: 0;
    margin: 0;

    
 }
.corpo{
     position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/fundindex.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.corpo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: row;
}
.titulos{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 0 8vw; 
  color: #f1e5de;
}
.titulos h1{
    font-size: 130px;
}
.titulos h4{
    margin-left: 10vw;
    font-size: 30px;
}
* {
    font-family: 'Helvetica Neue';
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
 
    background-attachment: fixed;
    /* display: flex;
    flex-direction: row; */
}

 nav.menuLateral {
     width: 70px;
     height: 100%;
     background-color:#202020;
     padding: 40px 0 40px 1%;
     box-shadow: 3px 0 0 #FF0077;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     transition: .5s;

 }
 nav.menuLateral.expandir{
width: 300px;
 }
.botExpandir{
   width: 100%;
   padding: 10%; 
}
.botExpandir > i{
color: white;
font-size: 24px;
cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
background-color: #FF0077;

}
ul li.item-menu{
    transition: .3s;
}
ul li.ativo{
    background-color: #FF0077;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    
}
nav.menuLateral.expadir .txt-link{
margin-left: 70px;
transition: .5s;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
.imagem {
    display: flex;
    height: 40px;
    width: 40px;
    /* margin-top: 33px;
    margin-left: 5px;
    margin-right: 50px; */
}

.container {
    display: flex;
    justify-content: flex-start;
    /* padding-top: 100px; */
    align-items: center;
    min-height: 110vh;
    background: black;
    /* flex-direction: column; */
    min-height: auto;
}

.navLogo {
    display: flex;
}

.nav {
    /* position: fixed; */
    /* top: 0; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.6), transparent);
    z-index: 100;
}

.navLogo p {
    color: #FF0077;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 3px;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
}


.corpo2{
    
    width: 100%;
    height: 80vh;
    background-color: rgb(221, 221, 221);
display: flex;}
.c2esq{
    display: flex;
    flex-direction: row;
justify-content: center;
width: 40%;
height: 100%;
background-color: #ffffff;

}
.c2esq a{
    height:100px;
    width: 45px;
}
.c2esq h1{
   color: #000000;
   font-weight: bold;
   font-size: 84px;
   margin-top: 45px;
   margin-top: 20vh;
   margin-left: 5vw;
}
.c2dir{
    display: flex;
width: 64%;
height: auto;
background-color: #ffffff;
justify-content: center;
align-items: center;
font-size: 33px;
color: black;
padding: 20px;


}
.txt{
    width: 80%;
}
.corpo3 {
  width: 100%;
  height: 45vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  padding: 0 60px;
  box-sizing: border-box;
}

.cartao {
  width: 220px;
  height: 100%;
  background-color: #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.cartao:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cartao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartao video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartao p{
    color: black;
    font-size: 22px;
}
a {
    color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
}
a:hover{
      transform: scale(7.1);
    color: #582d15;
}
.corpo4{
    margin-top: 12vh;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.tituloc4{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #ffffff;
    margin-top: 3vh;
    justify-content: center ;
    align-items: center;
    font-size: 50px;
}

.corpoc4{
width: 100%;
height: 90%;
background-color: #ffffff;
justify-content: center;
align-items: center;
display: flex;
}
.videoc4{
    display: flex;
width: 60%;
height: 90%;
background-color: #582d15;
justify-content: center;
align-items: center;
}
.videoc4 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}