
 body, html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-color: black;
    
 }
 ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black; 
}

::-webkit-scrollbar-thumb {
    background: white; /* Cor do scroll */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a9a9a9; 
}
.corpo{
     position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/fundindex.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.corpo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: row;
}
.titulos{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 0 8vw; 
  color: #f1e5de;
}
.titulos h1{
    font-size: 130px;
}
.titulos h4{
    margin-left: 10vw;
    font-size: 30px;
}
* {
    font-family: 'Helvetica Neue';
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
 
    background-attachment: fixed;
    /* display: flex;
    flex-direction: row; */
}

 nav.menuLateral {
     width: 70px;
     height: 100%;
     background-color:#000;
     padding: 40px 0 40px 1%;
     box-shadow: 3px 0 0 #000;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     transition: .5s;

 }
 nav.menuLateral.expandir{
width: 300px;
 }
.botExpandir{
   width: 100%;
   padding: 10%; 
}
.botExpandir > i{
color: white;
font-size: 24px;
cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
background-color: wheat;
color: black;

}
ul li.item-menu{
    transition: .3s;
}
ul li.ativo{
    background-color: rgb(148, 103, 103);
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    
}
nav.menuLateral.expadir .txt-link{
margin-left: 70px;
transition: .5s;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
.imagem {
    display: flex;
    height: 40px;
    width: 40px;
    /* margin-top: 33px;
    margin-left: 5px;
    margin-right: 50px; */
}

.container {
    display: flex;
    justify-content: flex-start;
    /* padding-top: 100px; */
    align-items: center;
    min-height: 110vh;
    background: black;
    /* flex-direction: column; */
    min-height: auto;
}

.navLogo {
    display: flex;
}

.nav {
    /* position: fixed; */
    /* top: 0; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.6), transparent);
    z-index: 100;
}

.navLogo p {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 3px;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
}


.corpo2{
    
    width: 100%;
    height: 80vh;
    background-color: rgb(221, 221, 221);
display: flex;}
.c2esq{
    display: flex;
    flex-direction: row;
justify-content: center;
width: 40%;
height: 100%;
background-color: #ffffff;

}
.c2esq a{
    height:100px;
    width: 45px;
}
.c2esq h1{
   color: #000000;
   font-weight: bold;
   font-size: 84px;
   margin-top: 45px;
   margin-top: 20vh;
   margin-left: 5vw;
}
.c2dir{
    display: flex;
width: 64%;
height: auto;
background-color: #ffffff;
justify-content: center;
align-items: center;
font-size: 33px;
color: black;
padding: 20px;


}
.txt{
    width: 80%;
}
.corpo3 {
  width: 100%;
  height: 45vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  padding: 0 60px;
  box-sizing: border-box;
}

.cartao {
  width: 220px;
  height: 100%;
  background-color: #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.cartao:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.cartao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartao video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cartao p{
    color: black;
    font-size: 22px;
}
a {
    color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.cartao a:hover{
      transform: scale(7.1);
    color: #582d15;
}
/* .corpo4{
    margin-top: 12vh;
    width: 100%;
    height: 110vh;
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.tituloc4{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #ffffff;
    margin-top: 12vh;
    justify-content: center ;
    align-items: center;
    font-size: 50px;
}

.corpoc4{
width: 100%;
height: 80%;
background-color: #fff;
justify-content: center;
align-items: center;
display: flex;
margin-top: 10vh;
}
.imgcc2esq{
    margin-top: 5vh;
}
.corpoc4 p{
    font-size: 40px;
}
.videoc4{
    display: flex;
width: 60%;
height: 90%;
background-color: #582d15;
justify-content: center;
align-items: center;
}
.videoc4 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.corpo5{
width: 100%;
height: 140vh;
background-color: #ffffff;
display: flex;
flex-direction: column;
}
.corpo5 img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.topoc5{
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin-top: 4vh;
}
.corpoc5{
    margin-top: 7vh;
    width: 100%;
    height: 95%;
    background-color: #000;
}

.corpoc5 h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-left: 9vw;
    margin-top: 7vh;
}
.tituloc5{
display: flex;
width: 100%;
height: 20%;
background-color: black;
}
.corpoc52{
width: 100%;
height: 80%;
background-color: #000;
display: flex;
}
.cc2esq{
width: 40%;
height: 100%;
background-color: #000;
justify-content: center;
align-items: center;
display: flex;
margin-top: 5px;
}
.imgcc2esq{
width: 80%;
height: 90%;
margin-left:5vw;
background-color: #a9a9a9;
}
.imgcc2esq img{
    width: 100%;
    height: 100%;
}
.cc2dir{
    display: flex;
    width: 60%;
    height: 100%;
     background-color: red;
     flex-direction: column;
     margin-top: 5vh;
}
.facil{
    width: 100%;
    height:33%;
    background-color: #000;
}
.medio{
    width: 100%;
    height:33%;
    background-color: black;
}
.dificil{
  width: 100%;
    height:33%;
    background-color: #fff;
}
.titulodificuldades{
    width: 100%;
    height: 15%;
    color: palegoldenrod;
    padding: 5px;
    display: flex;
    background-color: #000;
}
.corpodificuldade{
width: 100%;
height: 75%;
background-color: black;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
align-items: center;
}

.card {
    width: 17%;
    height: 90%;
    justify-content: center;
    border-radius: 12px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    transition: transform 0.6s ease;
    flex-direction: column;
    position: relative;
    perspective: 1200px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.virado .card-inner {
    transform: rotateY(180deg);
}

.card-frente,
.card-verso {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-frente {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-verso {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.card:hover{
transform: scale(1.05);
  cursor: pointer;
}
.titulocard{
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
}
.corpocard{
width: 100%;
height: 80%;
background-color: rgb(255, 255, 255);
}
.corpocard img{
    object-fit: contain;
}
.corpocard video{
 width: 100%;
  height: 100%;
  object-fit: contain;
}
#botaoSair {
    background-color: #ff007f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#botaoSair:hover {
    background-color: #cc005f;
}

#botaoLogin {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ff007f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

#botaoLogin:hover {
    background-color: #cc005f;
}
#mensagemBemVindo{
   padding-left: 5vw;
}