* {
    margin: 0;
    padding: 0;
    font-family: 'Woof';

}

.corpo {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

body {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.menuLateral {
    width: 70px;
    height: 100%;
    background-color: #000000;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 pink;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;

}

nav.menuLateral.expandir {
    width: 300px;
}

.botExpandir {
    width: 100%;
    padding: 10%;
}

.botExpandir>i {
    color: pink;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover {
    background-color: pink;

}

ul li.item-menu {
    transition: .3s;
}

ul li.ativo {
    background-color: pink;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 55px;

}

nav.menuLateral.expadir .txt-link {
    margin-left: 70px;
    transition: .5s;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

h1 {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 102px;
    color: #FF0077;

}

.container {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.container1 {
    background-color: aliceblue;
    width: 100%;
    max-width: 800px;

    border: 2px solid saddlebrown;
    border-radius: 6px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30vw;
    margin-top: 10%;
}

.textotopo {
    display: flex;
    width: 100vw;
    height: 30vh;
    background-color: #000000;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    
}

.quizes {
    width: 80vw;
    height: 40vh;
    background-color: #ffffff;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
ul li.item-menu:hover a {
    color: #ffffff;
}

ul li.item-menu:hover a .icon > i {
    color: #ffffff;
}

.partebaixo {
    width: 100vw;
    height: 70vh;
    display: flex;
    background-color: #ffffff;
  color: #e0e0e0;
    justify-content: center;
    align-items: center;

}

.quiz1 {
    width: 25vw;
    height: 40vh;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    display: flex;
      color: #e0e0e0;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  
}
.topoq1{
display: flex;
width: 100%;
height: 20%;
background-color: black;;
justify-content: center;
align-items: center;

}
.topoq1 h1{
    color: lightgreen;
}
.corpoq1{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.corpoq1 a{
margin-top: 40px;
}
/* .quiz1 h1{
    margin-bottom: 60px;
} */
.quiz1 p{
    color: white;
    font-size: 32px;
}
.quiz2 {
    width: 25vw;
    display: flex;
    height: 40vh;
    background-color: #202020;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    color: #e0e0e0;
  padding: 10px;
  border-radius: 14px;
}
.topoq2{
display: flex;
width: 100%;
height: 20%;
background-color: black;
justify-content: center;
align-items: center;

}
.topoq2 h1{
    color: lightseagreen;
}
.corpoq2{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.corpoq2 a{
margin-top: 40px;
}
/* .quiz1 h1{
    margin-bottom: 60px;
} */
.quiz2 p{
    color: white;
    font-size: 32px;
}
.quiz3 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 40vh;
    background-color: #202020;
    color: #e0e0e0;
  padding: 10px;
  border-radius: 12px;
}
.topoq3{
display: flex;
width: 100%;
height: 20%;
background-color: #000;
justify-content: center;
align-items: center;

}
.topoq3 h1{
    color: lightsalmon;
}
.corpoq3{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.corpoq3 a{
margin-top: 40px;
}
/* .quiz1 h1{
    margin-bottom: 60px;
} */
.quiz3 p{
    color: white;
    font-size: 32px;
}
.botaoQuiz {
    display: inline-block;
  padding: 10px 20px;
  background-color: 	#3a3a3a;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
}
.dificuldade{
    display: flex;
    width: 100%;
    height: 20px;
    background-color: #202020;
    justify-content: center;
    align-items: center;
}
#dif1{
    color: lightgreen;
    font-size: 15px;
}
#dif2{
    font-size: 15px;
    color: lightseagreen;
}
#dif3{
    color: lightsalmon;
    font-size: 15px;
}
.botaoQuiz:hover{
       background-color: #ff4da6;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.botaoQuiz:hover #dif3{
background-color: lightgreen;
}