*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
 height: 100vh;
    background-color: #202020;
 }
.corpo{
    display: flex;
    overflow: hidden;
    background-color: rgba(129, 10, 129, 0);
    justify-content: center;
    align-items: center;
}
.corpoInicio{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.inicioTimeline{
    width: 90vw;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}
.inicioTimeline p{
    font-size: 23px;
}
.cabeca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}
.eu{
      display: flex;
    flex-wrap: wrap;
    margin-left: 8vw;
    margin-top: 7vh;
    width: 96.5vw;
    height: 60vh;
    background-color: #202020;
    border-radius: 100px;
    
}
.esquerda{
    width: 50%;
    height: 100%;
  
    border-radius: 50px;
}
.esquerda h2{
    color: #FF0077;
    font-size: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 15px;
}
.esquerda p{
    font-size: 50px;
    margin-left: 12px;
    color: gray;
}
.direita{
    width: 50%;
    height: 100%;
    background-color: #202020;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
 .imgeu{
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: contain;
}
.icones{
    color: gray;;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
}

 nav.menuLateral {
     width: 70px;
     height: 100%;
     background-color:#202020;
     padding: 40px 0 40px 1%;
     box-shadow: 3px 0 0 #FF0077;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     transition: .5s;

 }
 nav.menuLateral.expandir{
width: 300px;
 }
.botExpandir{
   width: 100%;
   padding: 10%; 
}
.botExpandir > i{
color: white;
font-size: 24px;
cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
background-color: #FF0077;

}
ul li.item-menu{
    transition: .3s;
}
ul li.ativo{
    background-color: #FF0077;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    
}
nav.menuLateral.expadir .txt-link{
margin-left: 70px;
transition: .5s;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 15px;
    color: #FF0077;
}
.inicioTimeline{
    margin-left: 30px;
    margin-top: 15px;
}
p{
    color: #fff;
    font-size: 20px;
}
h1{
    color: #FF0077;
}
.txt-link{
    margin-left: 30px;
    list-style: none;
    text-decoration: none;
    color: #ffff;
}
.timeline{
    position: relative;
    list-style: none;
    display: inline-block;

}
.timeline li{
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 20px
}
    .timeline li:last-child{
margin-bottom: 0;
    }
        .timeline .timeline-content h2{
         font-weight: bold;
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 10px;   
        }
        .timeline .timeline-content p{
            font-size: 16px;
            line-height: 30px;
            font-weight: 300;
            color: #fff;
        }
        .timeline .timeline-cotent .data{
           font-size: 12px;
           font-weight: 300;
           margin-bottom: 10px;
           letter-spacing: 2px; 
       color: #fff;
        }

        @media(min-width: 992px){
            .timeline li{
                width: 50%;
                position: relative;
                margin-bottom: 50px;
            }
            .timeline li:nth-child(odd)::before{
                transform: translate(50%, -50%);
                right: -30px;
            }
            .timeline li:nth-child(even)::before{
                transform: translate(-50%, -50%);
                left: -30px;
            }
            .timeline .timeline-content .data{
                position:absolute;
                top: -30px;
                color: #444;
            }
            .timeline li:hover::before{
                background-color: royalblue;
            }
            .timeline li:nth-child(odd){
                float: left;
                clear: right;
                transform: translateX(-30px);
                border-radius: 20px 0 20px 20px;
            }
            .timeline li:nth-child(even){
                float: right;
                clear: left;
                transform: translateX(30px);
                border-radius: 0px 20px 20px 20px;
            }
            .timeline li::before{
                content: "";
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #aaa;
                top: 0;
                z-index: 1;
            }
            .timeline li:nth-child(odd)::after{
                content: "";
                position: absolute;
                height: calc(100% + 40px);
                width: 2px;
                background-color: #aaa;
                top: 0;
                right: -33px;
            }
            .timeline li:nth-child(even):not(:last-child)::after{
                content: "";
                position: absolute;
                height: calc(100% + 40px);
                width: 2px;
                background-color: #aaa;
                top: 0;
                left: -31px;
            }
        }
        img{
            margin-left: 100px;
            border-radius: 5px;
            width: 50%;
            height: 20%;
        }
        .div_imagens{
        display: flex;
        width: 80vw;
        height: 160vh;
       
        background-color: blue;
        margin-top: 7vh;
        }
        .img1{
            width: 100%;
            height: 70vh;
            background-color: rgb(221, 0, 0);
       
        }