*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
 body , html{
  margin: 0;
    padding: 0;
overflow-x: hidden;

 }
.corpo{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.topo{
width: 100%;
height: 60%;
background-color: #444;
position: relative;
}
.titulo-topo {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: 80px;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3em;
  z-index: 2;
  pointer-events: none;
  font-size: 55px;
}

.topo {
  position: relative;
}

.topo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: relative; */
}
.topo img{
 width: 100%;
    height: 100%;
    object-fit: cover;
}
.corpo2{
    width: 100%;
    height: 30%;
    background-color: #000000;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.corpo3{
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.centroc3{
display: flex;
width: 90%;
height: 90%;
background-color: green;
margin-left: 5vw;
flex-direction: row;
}

.cc3esq{
width: 40%;
height: 100%;
background-color: rgb(255, 255, 255);
justify-content: center;
align-items: center;
display: flex;
}
.cc3esq img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:flex;
    border-radius: 10px;
    background-color: #ffffff;
}
.cc3dir{
    /* padding: 10px; */
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

}
.cc3dir h4{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 30px;
}
.cc3dir p{
    margin-left: 15px;
    margin-top: 100px;
      font-size: 29px;
      gap: 4px;

  
}
.corpo4{
    width: 100%;
    height: 70vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.centroc4{
display: flex;
width: 90%;
height: 90%;
background-color: rgb(0, 0, 0);
margin-left: 5vw;
}

.cc4esq{
    width: 60%;
    height: 100%;
    background-color: rgb(0, 0, 0);
border-radius: 10px;
margin-left: 3vw;
color: white;
}
.cc4esq h4{
margin-top: 15px;
margin-left:15px;
font-size: 30px;
}
.cc4esq p{
    font-size: 25px;
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 3px;
}
.cc4dir{
width: 40%;
height: 100%;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
}
.cc4dir img{
    width: 100%;
    height: 100%;
object-fit: cover;
border-radius: 10px;
}

.corpo5{
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.centroc5{
display: flex;
width: 90%;
height: 90%;
background-color: green;
margin-left: 5vw;
}
.cc5esq{
width: 40%;
height: 100%;
background-color: rgb(255, 255, 255);
}
.cc5dir{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.cc5esq img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cc5dir h4{
margin-top: 17px;
margin-left: 17px;
font-size: 30px;
}
.cc5dir p{
    margin-left: 15px;
    margin-top: 50px;
    font-size: 25px;
}

.corpo6{
    width: 100%;
    height: 70vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.centroc6{
display: flex;
width: 90%;
height: 90%;
background-color: green;
margin-left: 5vw;
}
.cc6esq{
width: 60%;
height: 100%;
background-color: rgb(0, 0, 0);
display: flex;
}


.corpo6{
       width: 100%;
    height: 70vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center; 
}
.cc6dir{
    width: 40%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 50px;
}

.cc6esq{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
}
.cc6esq h4{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 30px;
}
.cc6esq p{
    margin-top: 45px;
    margin-left: 15px;
    font-size: 22px;
}
.cc6dir img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.corpo7{
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.centroc7{
display: flex;
width: 90%;
height: 90%;
background-color: green;
margin-left: 5vw;
}
.cc7esq{
width: 40%;
height: 100%;
background-color: rgb(255, 252, 252);
}
.cc7dir{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.cc7esq img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cc7dir h4{
margin-top: 17px;
margin-left: 17px;
font-size: 30px;
}
.cc7dir p{
    margin-left: 15px;
    margin-top: 50px;
    font-size: 25px;
}

.corpo8{
    width: 100%;
    height: 70vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
/* justify-content: center;
align-items: center; */
}

.centroc8{
display: flex;
width: 90%;
height: 90%;
background-color: rgb(0, 0, 0);
margin-left: 5vw;
}

.cc8esq{
    width: 60%;
    height: 100%;
    background-color: rgb(0, 0, 0);
border-radius: 10px;
margin-left: 3vw;
color: white;
}
.cc8esq h4{
margin-top: 15px;
margin-left:15px;
font-size: 30px;
}
.cc8esq p{
    font-size: 25px;
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 3px;
}
.cc8dir{
width: 40%;
height: 100%;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
}
.cc8dir img{
    width: 100%;
    height: 100%;
object-fit: cover;
border-radius:10px;
}

.tituloc8{
    width: 100%;
    height: 15%;
    background-color: #000000;
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: white;
}
.cp8{
width: 100%;
height: 85%;
background-color: #FF0077;
display: flex;
flex-direction: row;
}
.c8esq{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
}
video{
    width: 80%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 10vw;
    margin-top: 4vh;
}
.c8dir{
    width: 50%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    justify-content: center;
    font-size: 25px;
    width: 90%;
    height: 90%;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    align-items: center;
}
.texto9{
    justify-content: center;
    font-size: 25px;
    width: 80%;
    height: 90%;
    color: #000000;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 7vw;
    flex-direction: column;
}
.texto9 h4{
    margin-right: 11vw;
    margin-bottom: 8vh;
}
.cp9{
    width: 100%;
    height: 60vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
/* justify-content: center;
align-items: center; */
}
.c9esq{
    width:60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}
.c9dir{
     width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
align-items: center;
margin-right: 4vw;
}

.cp10{
    width: 100%;
    height: 60vh;
    background-color: #FF0077;
    display: flex;
    flex-direction: row;
   
}
.cp10esq{
width: 40%;
height: 100%;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;
}
.cp10esq video{
    margin-right: 40px;
}
.cp10dir{
width: 60%;
height: 100%;
background-color: #000000;
 justify-content: center;
    align-items: center;
    display: flex;
}
.texto{
    flex-direction: column;
}
.texto h4{
margin-right: 31vw;
margin-bottom: 2vw;
}

.cp11{
    width: 100%;
    height: 60vh;
    background-color: #202020;
    display: flex;
    flex-direction: row ;
}
.cp11esq{
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cp11esq .texto{
    width: 80%;
    margin-left: 5vw;
    background-color: rgb(255, 255, 255);
}
.cp11esq .texto p{
margin-left: 60px;
}
.cp11esq .texto h4{
float: left;
}
.cp11dir{
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.vid {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.vid video{
   
    width: 100%;
    height: 100%;
    object-fit: cover; 
 justify-content: flex-start;
    margin-left: 0;
}

.texto11{
    justify-content: center;
    font-size: 25px;
    width: 80%;
    height: 90%;
    color: #000000;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 150px;
}
.texto11 h4{
    margin-right: 47vw;
    margin-bottom: 6vh;
}

.corpo12{
width: 100%;
height: 60vh;
background-color: green;
display: flex;
flex-direction: row;
}
.cp12esq{
    width: 30%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cp12dir{
    width: 70%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.vidi{

    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.vidi video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto12{
    width: 90%;
    height: 90%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
    color: white;
}
.texto12 h4{
    margin-right: 54vw;
    margin-bottom: 7vh;
}

.continue{
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    color: black;
}
.continue a {
    text-decoration: none;
    color: inherit;
    font-weight: bold; 
    margin-left: 2px;
    color: rgb(0, 0, 0);
}


.icones{
    color: rgb(255, 255, 255);;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
}

 nav.menuLateral {
     width: 70px;
     height: 100%;
     background-color:#000000;
     padding: 40px 0 40px 1%;
     box-shadow: 3px 0 0 #ba9292;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     transition: .5s;

 }
 nav.menuLateral.expandir{
width: 300px;
 }
.botExpandir{
   width: 100%;
   padding: 10%; 
}
.botExpandir > i{
color:pink;
font-size: 24px;
cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
background-color: #ffffff;

}
ul li.item-menu{
    transition: .3s;
}
ul li.ativo{
    background-color: #b9a1ac;
}

ul li.item-menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 23px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 55px;
    
}
nav.menuLateral.expadir .txt-link{
margin-left: 70px;
transition: .5s;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
  ul li.item-menu:hover a {
    color: #000000;
}

ul li.item-menu:hover a .icon > i {
    color: #000000;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 15px;
    color: #000000;
}

.txt-link{
    margin-left: 30px;
    list-style: none;
    text-decoration: none;
    color: #ffff;
}
.timeline{
    position: relative;
    list-style: none;
    display: inline-block;

}
.timeline li{
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 20px
}
    .timeline li:last-child{
margin-bottom: 0;
    }
        .timeline .timeline-content h2{
         font-weight: bold;
         font-size: 24px;
         line-height: 30px;
         margin-bottom: 10px;   
        }
        .timeline .timeline-content p{
            font-size: 16px;
            line-height: 30px;
            font-weight: 300;
            color: #fff;
        }
        .timeline .timeline-cotent .data{
           font-size: 12px;
           font-weight: 300;
           margin-bottom: 10px;
           letter-spacing: 2px; 
       color: #fff;
        }

        @media(min-width: 992px){
            .timeline li{
                width: 50%;
                position: relative;
                margin-bottom: 50px;
            }
            .timeline li:nth-child(odd)::before{
                transform: translate(50%, -50%);
                right: -30px;
            }
            .timeline li:nth-child(even)::before{
                transform: translate(-50%, -50%);
                left: -30px;
            }
            .timeline .timeline-content .data{
                position:absolute;
                top: -30px;
                color: #444;
            }
            .timeline li:hover::before{
                background-color: royalblue;
            }
            .timeline li:nth-child(odd){
                float: left;
                clear: right;
                transform: translateX(-30px);
                border-radius: 20px 0 20px 20px;
            }
            .timeline li:nth-child(even){
                float: right;
                clear: left;
                transform: translateX(30px);
                border-radius: 0px 20px 20px 20px;
            }
            .timeline li::before{
                content: "";
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: #aaa;
                top: 0;
                z-index: 1;
            }
            .timeline li:nth-child(odd)::after{
                content: "";
                position: absolute;
                height: calc(100% + 40px);
                width: 2px;
                background-color: #aaa;
                top: 0;
                right: -33px;
            }
            .timeline li:nth-child(even):not(:last-child)::after{
                content: "";
                position: absolute;
                height: calc(100% + 40px);
                width: 2px;
                background-color: #aaa;
                top: 0;
                left: -31px;
            }
        }


        img{
            margin-left: 100px;
            border-radius: 5px;
            width: 50%;
            height: 20%;
        }
        .div_imagens{
        display: flex;
        width: 80vw;
        height: 160vh;
       
        background-color: blue;
        margin-top: 7vh;
        }
        .img1{
            width: 100%;
            height: 70vh;
            background-color: rgb(221, 0, 0);
       
        }
      
