@font-face {
    font-family: 'Woof';
    src: url('fonts/Woof.woff2') format('woff2'),
        url('fonts/Woof.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Woof';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.imagem {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 33px;
    margin-left: 5px;
}

.container {
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    align-items: center;
    min-height: 110vh;
    background: black;
    flex-direction: column;
    min-height: auto;
}

.navLogo {
    display: flex;
    flex-direction: row;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.navLogo p {
    color: wheat;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 3px;
}

.navMenu ul {
    display: flex;
}

.navMenu ul li {
    list-style-type: none;
}

.navMenu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.ativo {
    border-bottom: 2px solid wheat
}

.botaoNav .botao {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

#botaoCadastro {
    margin-left: 15px;
}

.botao.log {
    background: rgba(255, 255, 255, 0.7);
}

.botao:hover {
    background: rgba(255, 255, 255, 0.3);
}

.botao.log:hover {
    background: rgba(255, 255, 255, 0.5);
}

.link {
    text-decoration: none;
    color: #ffcbd7;
    font-size: 16px;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.link:hover {
    transform: scale(1.2);
    font-size: 18px;
    color: wheat !important;
}

.paginaUm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 160px); 
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}
h1{
    display: flex;
    color: wheat;
    
}
.divVid {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: auto;
    height: 60vh;
}

.paragrafo {
    width: auto;
    height: 300px;
    padding: 50px;
    justify-content: space-between;
}

.paginaUm p {
    color: wheat;
    font-size: 20px;
    font-weight: 400;
    /* background-color: rgb(141, 0, 0);
    height: 50%; */
    /* margin-left: 90px;
    margin-top: 200px;
    margin-right: 200px;
    margin-bottom: 200px; */


}

.imagemP1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(158, 158, 158);
    width: 50%;
    border-radius: 90px;
    color: wheat;
}


.pagdois {
    position: relative;
    min-height: 100vh; 
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.teatro{
    filter: brightness(0.5)
}
.pagdois::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;
    z-index: 1000;
    pointer-events: none;
    background: url(../assets/videos/garinEffect.gif);
}

/* .paginaUm {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right: 60px;
    background: -o-linear-gradient();
}  */




/*
}
.container2{
    width: 100vw;
    height: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.divdois video{
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */